* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(16, 16, 16);
  padding: 30px;
}

header {
  padding: 0 80px;
  color: white;
}
img {
  padding: 50px 0;
  max-width: 100%;
}
table {
  color: white;
  border-collapse: collapse;

  thead {
    font-weight: bold;
  }

  td {
    padding: 5px;
    border: 3px solid;
  }
}
